streamlit
langchain
unstructured
unstructured[all-docs]
ollama
pdf2image
pdfminer-six
pillow_heif
opencv-python-headless
opencv-python
langchain_community
langchain_core
chromadb==0.3.29
langchain-text-splitters
