streamlit
langchain
unstructured
unstructured[all-docs]
ollama
pdf2image
pdfminer-six
pillow_heif
opencv-python-headless
langchain_community
langchain_core
sqlite-utils
chromadb
langchain-text-splitters
